<div class="modal fade" id="<%= modalId %>" tabindex="-1" role="dialog" aria-labelledby=""
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <%= modalTitle %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="entity-type-name-input" class="col-sm-3 col-form-label col-form-label-sm">Entity type name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="entity-type-name-input" placeholder="Entity type name ...">
                        </div>
                    </div>
                </form>
                <div id="<%= jsonEditorId %>" class="jsoneditor-wrapper"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                <button id="<%= modalButtonId %>" type="button" class="btn btn-sm btn-primary" disabled="true"> <%= modalButtonText %> </button>
            </div>
        </div>
    </div>
</div>