.vertical-divider {
    display: inline;
    border-right: 1px solid #aaaaaa;
}

.modal-body {
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.jsoneditor-wrapper {
    flex-grow: 1;
    /* height: 40vh; */
}

.jsoneditor-menu {
    background-color: #0099ee;
    border-bottom: 1px solid #0068a2;
}

.jsoneditor {
    border: thin solid #0099ee;
}

.joint-tool {
    opacity: 0.01;
    transition: opacity 0.5s;
}

.joint-layers:hover .joint-tool {
    transition: opacity 0.5s;
    opacity: 1;
}

#schema-editor-modal .modal-content {
    /*height: 80vh;*/
}

#entity-type-name-form {
    border: 1px solid #cccccc;
}