.vertical-divider {
  display: inline;
  border-right: 1px solid $gray-900;
}

.jsoneditor-wrapper {
  height: 60vh;
}

.jsoneditor-menu {
  background-color: #0099ee;
  border-bottom: 1px solid #0068a2;
}

.jsoneditor {
  border: thin solid #0099ee;
}

.joint-tool {
  opacity: 0.01;
  transition: opacity 0.5s;
}

.joint-layers:hover .joint-tool {
  transition: opacity 0.5s;
  opacity: 1;
}

.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #0099ee;
}

.close {
  color: #ffffff;
}

/*
.btn-icon-split .btn-text {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.btn-icon-split:hover .btn-text {
  display: block;
  visibility: visible;
  opacity: 1;
}

*/