.flex-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
}

.in_port {
  padding: 0.5em 0.5em;
}

.out_port {
  display: flex;
  flex-wrap: nowrap;
}

.field_constraints {
  font-style: italic;
  color: #aaa;
  padding: 0.5em 0.5em;
}

.field_date_type {
  min-width: 5em;
  text-align: right;
  padding: 0.5em 0.5em;
}

.header {
  height: 100%;
  width: 100%;
  padding: 0.2em 0.5em;
  text-align: center;
  background-color: #0099ee;
  color: #fff;
  border: 1px solid #00598a;
}

.row-expander {
  cursor: pointer;
}

.html-element .flex-container {
  /* Enable interacting with inputs only. */
  pointer-events: auto;
}
