.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  background-color: #ffffff;
}

.in_port {
  padding: 0.5em 0.5em;
}

.out_port {
  display: flex;
  flex-wrap: nowrap;
}

.field_constraints {
  font-style: italic;
  color: #aaa;
  padding: 0.5em 0.5em;
}

.field_date_type {
  min-width: 5em;
  text-align: right;

  padding: 0.5em 0.5em;
}

.header {
  border: 1px solid #aaa;
  padding: 0.5em 0.5em;
  text-align: center;
  background-color: deepskyblue;
  color: #fff;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
