#editor, #test {
  margin: 1em auto;
  width: 800px;
  padding: 1em;
}

#schema-editor {
  border: 1px solid #cccccc;
  overflow-y: auto;
}

.new-prop-block,
.new-field-elements {
  margin-top: -1px;
  padding: 0.5em 0.5em 0.5em 1em;
}

.properties {
  padding-left: 1em;
}

.object-row {
  margin-bottom: -1px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#schema-editor > .object-row {
  border-left: none;
}

.simple-row {
  padding: 0.3em 0 0.3em 1em;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
}

.object-row > .simple-row {
  border-left: none;
  border-right: none;
  margin-bottom: -1px;
}

.empty-placeholder {
  font-style: italic;
}

.new-field-elements {
  border-top: 1px solid #cccccc;
}

.add-btn,
.cancel-btn {
  cursor: pointer;
}

.add-btn:disabled {
  cursor: not-allowed;
}

.remove-btn:disabled {
  cursor: not-allowed;
}

.field-type {
  font-style: italic;
}


.simple-row .remove-btn-block {
  width: 25%;
}

.remove-btn-block {
  display: flex;
  justify-content: flex-end;
}

.property-info {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

#parser-btn {
  float: right;
}

#form-schema-editor-title {
  border: 1px solid #cccccc;
}